/out/production/FirstJavaProject/com/company/Main.class
/out/production/FirstJavaProject/com/company/multiplication/multiplication.class
/out/production/FirstJavaProject/com/company/multiplicationtable/MultiplicationRunner.class
/out/production/FirstJavaProject/com/company/multiplicationtable/MultiplicationTable.class
/out/production/FirstJavaProject/com/company/multiplication/MultiplicationTableRunner.class
